include ./includes/head.pug
body
  h1 Jeu multi
  h2 Connexion
  form(action="/" method="post")
    label(for="pseudo") Pseudo : 
    input(type="text" name="pseudo")
    label(for="mdp") Mot de passe :
    input(type="password" name="mdp")
    input(type="submit" value="Se connecter")
  if(err)
    p= err
  #regles
    h2 Règles du jeu :
    p Le but est de déplacer son pion de l'autre côté de la grille, en jouant chacun son tour avec son adversaire.
    p Vous pouvez vous déplacer sur les cases blanches, mais les cases noires vous bloqueront.
    p Pour se faire, vous pouvez utiliser les flèches directionnelles à l'écran pour déplacer votre pion, ou bien les flèches sous le plateau pour modifier une colonne entière.
    p Le joueur 2 commence toujours la partie.
  p#titre_classement Classement des meilleurs joueurs
  ul#classement
    each joueur in listeJoueursWin
      li #{joueur.pseudo} - #{joueur.nbWin}
